body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dee2e6;
}



button {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    border: none;
    background-color: #6c757d;
    color: #e9ecef;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;

}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 0.12fr);
    gap: 5px;
    padding: 25px;
}

.calculatorpanel {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ced4da;
    max-width: 300px;
    border-radius: 15px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    text-align: left;
    border: none;
    background-color: #adb5bd;
    color: #e9ecef;
    outline: none;
}

button:hover {
    background-color: #5c646c;
}

button:active {
    background-color: #4f555b;
}

.calcbttn {
    background-color: #343a40;
}

.calcbttn:hover {
    background-color: #42484c;
}

.calcbttn:active {
    background-color: #2c3034;
}